{% extends 'base.html' %}

{% block head%}
<title>Change-password</title>
{% endblock %}

{% block body%}

	<div class="container">
        <div class="card card mx-auto col-xs-16 col-sm-12 col-md-8 col-lg-8">
            <div class="card-body ">
                <p class="card-text">
            		<h1><i class="fa fa-lock" aria-hidden="true"></i> Change password</h1>
                    <hr>
            			{{change_password_form.errors}}
            		<form method="post" id="change_password">
            			{% csrf_token %}
            			<p><i class="fa fa-key" aria-hidden="true"></i> Old password: {{change_password_form.old_password}}</p>
            			<p><i class="fas fa-key"></i> New password: {{change_password_form.new_password1}}
                        </p>
            			<p><i class="fas fa-key"></i> New password confirm: {{change_password_form.new_password2}}</p>
            			<button type="submit" class="btn btn-primary">Submit</button>
            		</form>
                </p>
        	</div>
        </div>
    </div>

<script>
$( document ).on('submit', '#change_password', function(){
             var r = confirm("Are you sure you wanna change password?");
             if (r === false)
                return false;
     
 });
</script>
{% endblock %}