{% extends 'base.html' %}

{% block head %}
<title>Other Profiles</title>
{% endblock %}

{% block body %}

<div class="container">
<div class="card card mx-auto col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card-body ">
        <p class="card-text">
        	<h1>Search other users </h1><hr>

			{{form.errors}}
			<form method="post" action="/other_profiles/" autocomplete="off">
			{% csrf_token %}
				<div class="input-group md-form form-sm form-2 pl-0">
				    <input class="form-control" type="text" name="srch" placeholder="Search user's first name" aria-label="Search" id="search">
				</div>
				<ul class="list-group" id="result"></ul>
			</form>
			<div>
				{% if messages %}
					<ul class="messages"><br>
						{% for message in messages %}
						<li>{{message}}</li>
						{% endfor %}
					</ul>
					{% endif %}
			</div><br>

			<div>
				{% if found %}
					{% for k in found%}
					<table border="0px" width="300px">
						<tr>
							<td>
								<img src="/static/images/profile-pic.png" width="50px" height="50px"> {{k.first_name|title}} {{k.last_name|title}}  
							</td>

							{% if user in friendslist%}
							<td>
								<button class="btn btn-success">Add Friend</button>
							</td>
							{% else %}
							<td>
								<button class="btn btn-success disabled">Already a friend</button>
							</td>
							{% endif %}
						</tr>
					</table>
					<hr>
					{% endfor%}
				{% endif %}
			</div>
	       	</p>
      </div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#search').keyup(function(){
		$('#result').html('');
		var searchField = $('#search').val();
		var expression = new RegExp(searchField, "i");

		$.ajax({
            url: '/search_users/',
            data: {
            	'first_name': this.value,
            	'last_name': this.value
            },
            dataType: 'json',
            success: function (data) {

              var json_users = jQuery.parseJSON(data);

               for(var i = 0; i < json_users.length; i++){
                  $('#result').append('<li class="list-group-item">' + json_users[i].fields.first_name + ' ' +json_users[i].fields.last_name + '</li>');
               }
            }	
          });

      })
	})
</script>

{% endblock %}