{% extends 'base.html' %}

{% block head %}
<title>Other Profiles</title>
{% endblock %}

{% block body %}

<div class="container">
<div class="card card mx-auto col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="card-body ">
        <p class="card-text">
        	<h1>Search other users </h1><hr>

			{{form.errors}}
			<form method="post" action="/other_profiles/">
			{% csrf_token %}
				<div class="input-group md-form form-sm form-2 pl-0">
				    <input class="form-control" type="text" name="srch" placeholder="Enter username or username" aria-label="Search">
				    <div class="input-group-append">
				        <button class="input-group-text" id="basic-text1" type="submit"><i class="fa fa-search text-grey" aria-hidden="true"></i></button>
				    </div>
				</div>
			</form>
			<div>
				{% if messages %}
					<ul class="messages"><br>
						{% for message in messages %}
						<li>{{message}}</li>
						{% endfor %}
					</ul>
					{% endif %}
			</div><br>

			<div>
				{% if found %}
					{% for k in found%}
					<table border="0px" width="300px">
						<tr>
							<td>Username</td>
							<td>{{k.username}}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{k.email}}</td>
						</tr>
						<tr>
							{% if user in friendslist%}
							<td>
								<button class="btn btn-success">Add Friend</button>
							</td>
							{% else %}
							<td>
								<button class="btn btn-success disabled">Already a friend</button>
							</td>
							{% endif %}
						</tr>
					</table>
					<hr>
					{% endfor%}
				{% endif %}
			</div>
	       	</p>
      </div>
	</div>
</div>


{% endblock %}