{% extends 'base.html' %}

{% block head%}
<title>Edit Profile</title>
{% endblock %}

{% block body%}
<div class="container">
	<div class="card card mx-auto col-xs-16 col-sm-12 col-md-8 col-lg-6">
   		<div class="card-body ">
	        <p class="card-text">
				<h1><i class="far fa-edit"></i> Edit profile</h1>
				<hr>
				{{edit_form.errors}}
				<form method="post" id="edit">
					{% csrf_token %}
					<p><i class="fa fa-user" aria-hidden="true"></i> First name: {{edit_form.first_name}}</p>
		    		<p><i class="fa fa-user" aria-hidden="true"></i> Last name: {{edit_form.last_name}}</p>
		          	<p><i class="fa fa-flag" aria-hidden="true"></i> Country:
		            <select id="countries" name="country" required type="text">
			            <option value="">----------------</option>
			              {% for x in country %}
			        			  <option > {{x.name}}</option>
			              {% endfor %}
		            </select>*
		            <i class="fa fa-globe" aria-hidden="true"></i> City:
		            <select id="cities" name="city" required type="text">
		            	<option value="">-------------</option></select>*
		       		</p>
    				<p><i class="fa fa-envelope" aria-hidden="true"></i> Email: {{edit_form.email}}*</p>
						<button type="submit" class="btn btn-primary">Submit</button>
					</form>
			</p>
		</div>
	</div>
</div>

<script>
  $('#countries').on('change', function() {

      $('#cities').find('option:not(:first)').remove();

      $.ajax({
        url: '/cities/',
        data: {
          'country': this.value
        },
        dataType: 'json',
        success: function (data) {

          var json_cities = jQuery.parseJSON(data);

           for(var i = 0; i < json_cities.length; i++){
              $('#cities').append('<option>' + json_cities[i].fields.name + '</option>');
           }
        }
      });

  })

  $( document ).on('submit', '#edit', function(){

         alert("You profile was succesfully edited!")
 
});
  </script>
{% endblock %}