{% extends 'base.html' %}

{% block head%}
<title>Profile</title>
{% endblock %}

{% block body%}
<div class="container">

	<div class="card card mx-auto col-xs-16 col-sm-12 col-md-8 col-lg-8">
   		<div class="card-body ">
	        <p class="card-text">
				<img src="/static/images/profile-pic.png" width="150px" height="150px">
				<h1>{{user.username|title}}</h1>
				<hr>
				<p>First name: {{user.first_name}}</p>
				<p>Last name: {{user.last_name}}</p>
				<p>Email: {{user.email}}</p>
				<p>Country: {{data.country}}</p>
				<p>City: {{data.city}}</p>		
			</p>
		</div>
	</div>
</div>
{% endblock %}