body{
	background: url("/static/images/backimg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

h1{
	color: #2D2825;
	padding-top: 15px;
}

.table{
	width: 100%;
}
.imag{
	padding-left: 15px;
	padding-right: 15px; 
}
h2{
	padding-top: 15px;
	padding-left: 15px;
}
#home_par{
	color: #2D2825;
	padding-left: 15px;
	padding-top:  15px;
	font-size: 250%;
}
#log_in{
	font-size: 125%;
	padding-top: 15px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.card{
	margin-top: 50px;
	border-radius: 25px;
	background-color: #E9E9ED;
}
.card-body{
	align-self: center;
	color: black;
	border-radius: 25px;
}
.home-buttons{
	background-color: #6D6D6D;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	color: white;
	margin-right: 400px;
}

.nav-item a{
	text-transform: uppercase;
}

.footer-main-div{
	width: 100%;
	height: 70px;
	margin: auto;
	background-color: #232323;
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}

.footer-social-icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	margin: 10px 10px;
	border-radius: 100%;
	background-color: #FFFFFF;
}
.footer-social-icons ul li:hover{
	background-color: #336699;
}
.footer-social-icons ul li i{
	transition: 0.3s all;
}
.footer-social-icons ul li i:hover{
	transform: scale(1.6) rotate(25deg);
}

.footer-social-icons ul li a{
	color: #111111;
	font-size: 25px;
}
.footer-social-icons ul li a i{
	line-height: 50px;
}
.footer-bottom{
	width: 100%;
	height: auto;
	margin: auto;
	background-color: #232323;
	text-align: center;
	padding: 10px;
	font-family: arial;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
}
.fotter-bottom p {
	line-height: 50px;
}
.button{
	margin-top: 30px;
	margin-left: 500px ;
}
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	font-size: 13px;

}
.btn-one{

}
.btn-one:hover{
	background-color: darkblue;
}
#home-par{
	text-align: center;
	font-size: 50px;
	padding: 140px 0px;
	color: white;
	font-family: cursive;
}