body{
  	margin: 0;
  	line-height: 1.5;
  	overflow-x: hidden;
}

.v-header{
	height: 100vh;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.container{
	max-width: 960px;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: auto;
	z-index: 2;
}

.fullscreen-video-wrap{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
}

.header-overlay{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #8A8A8A;
	opacity: 0.85;
}

.header-content{
	z-index: 2;
}

@media(max-width: 960px){
	.container{
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

h1{
	color: #2D2825;
	padding-top: 15px;
}

.table{
	width: 100%;
}
.imag{
	padding-left: 15px;
	padding-right: 15px; 
}
h2{
	padding-top: 15px;
	padding-left: 15px;
}
#home_par{
	color: #2D2825;
	padding-left: 15px;
	padding-top:  15px;
	font-size: 250%;
}
#log_in{
	font-size: 125%;
	padding-top: 15px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.card{
	margin-top: 50px;
	background-color: transparent;
	border: 0;
}
.card-body{
	align-self: center;
	color: black;
	border-radius: 25px;
	text-align: left;
}
.home-buttons{
	background-color: #6D6D6D;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	color: white;
	margin-right: 400px;
}
.navbar-brand{
	font-weight: bold;
	padding-left: 10px;
	font-size: 25px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.navbar-dark .navbar-brand{
  font-family: Audiowide;
  animation: neon5 1.0s ease-in-out infinite alternate;

}

@keyframes neon5 {
  from {
    text-shadow: 0 0 10px #FF9900, 0 0 20px #FF9900, 0 0 30px #FF9900, 0 0 40px #FF9900,
     0 0 70px #FF9900, 0 0 80px #FF9900, 0 0 100px #FF9900, 0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #FF9900, 0 0 15px #FF9900, 0 0 20px #FF9900, 
    0 0 35px #FF9900, 0 0 40px #FF9900, 0 0 50px #FF9900, 0 0 75px #FF9900;
  }
}
.navbar-collapse{
	margin-right: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.footer{
	width: 100%;
	height: 50px;	
	margin: auto;
	z-index: 2;
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-left{
	float: left;
	padding-left: 20px;
}
.footer-right{
	float: right;
	padding-top: 15px;
	padding-right: 20px;
	font-family: Audiowide;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	color: darkorange;

}
.footer-right:hover{
	transition: 0.2s all;
	cursor: pointer;
	transform: scale(1.0) rotate(5deg);
}

p:nth-child(5) a:hover {
  -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
  -moz-animation: neon5 1.5s ease-in-out infinite alternate;
  animation: neon5 1.5s ease-in-out infinite alternate;
}
.footer-social-icons{
	width: 100%;
	height: auto;
	margin: auto;
}
.footer-social-icons ul{
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.footer-social-icons ul li{
	display: inline-block;
	width: 35px;
	height: 35px;
	margin: 8px 10px;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
	transform: rotate(45deg);
}
.footer-social-icons ul li a{
	color: #111111;
	font-size: 23px;
	color: white;
}
.footer-social-icons ul li a i{
	transform: rotate(-45deg);
	line-height: 35px;
}
.footer-social-icons ul li:before{
	transition: .5s ease-in-out;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: darkorange;
	z-index: -2;
}
.footer-social-icons ul li:after{
	transition: .5s ease-in-out;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 100%;
	right: 0;
	background-color: darkorange;
	z-index: -3;
	opacity: .8;
}
.footer-social-icons ul li:hover:after{
	top:0;
}

.footer-social-icons ul li:nth-child(1):after,
.footer-social-icons ul li:nth-child(1):before{
	background-color: #06308C;
}
.footer-social-icons ul li:nth-child(2):after,
.footer-social-icons ul li:nth-child(2):before{
	background-color: #181818;
}
.footer-social-icons ul li:nth-child(3):after,
.footer-social-icons ul li:nth-child(3):before{
	background-color: #FE4F1F;
}
.footer-social-icons ul li:nth-child(4):after,
.footer-social-icons ul li:nth-child(4):before{
	background-color: #FF000C;
}

.home-button{
	margin-top: 10px;
	margin-left: 360px;
}
.btn{
	border: 1px solid white;
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	font-size: 13px;
}
.selected {
    color: white;
    background:darkorange;
}
.btn-primary:hover{
	background-color: darkorange;
	border-color: white;
}
.btn-one:hover{
	background-color: darkblue;
}

#home-par{
	font-size: 50px;
	color: black;
	font-family: cursive;
	text-align: center;
}

#demo{
	color: black;
}

.input-group-text:hover{
	background-color: #9F9F9F;
}
.search-button{
	padding: 10px 10px;
}
.btn-secondary{
	padding: 10px 7px;
	border: 0px;
}