body{
	background-color: #697475;
	color: #FBEDED;
	background-image: url("/static/images/back.jpg");
	background-repeat: no-repeat;
	background-size: 1530px 830px;
}

h1{
	color: #2D2825;
	padding-top: 15px;
}

.table{
	width: 100%;
}
.imag{
	padding-left: 15px;
	padding-right: 15px; 
}
h2{
	padding-top: 15px;
	padding-left: 15px;
}
#home_par{
	color: #2D2825;
	padding-left: 15px;
	padding-top:  15px;
	font-size: 250%;
}
#log_in{
	font-size: 125%;
	padding-top: 15px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.card{
	margin-top: 50px;
	border-radius: 25px;
	background-color: #E9E9ED;
}
.card-body{
	align-self: center;
	color: black;
	border-radius: 25px;
}
.home-buttons{
	background-color: #6D6D6D;
	width: 100%;
	height: 70px;
	border-radius: 10px;
	color: white;
	margin-right: 400px;
}